body {
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

#current-time-container {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

#hijri-date {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.additional-column {
    display: table-cell;
}

#settings-icon {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 9999;
}

#settings-container {
    position: fixed;
    top: 50px;
    right: 60px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}
