body {
    font-family: Arial, sans-serif;
}

#current-time-container {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (orientation: portrait) {
    table {
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    table {
        width: 60%;
    }
}

.additional-column {
    display: table-cell;
}

.settings-container {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
}

.settings-icon {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 10px;
}
